#!/bin/bash
cat .repomirror/prompt.md | \
        claude -p --output-format=stream-json --verbose --dangerously-skip-permissions --add-dir ${targetRepo} | \
        tee -a .repomirror/claude_output.jsonl | \
        npx repomirror visualize --debug;